<h2>Products</h2>
<script src="src/product-list/product-list.companent.js"></script>
<div *ngFor="let product of products">
  <h3>
    <a href="{{ product.link }}" [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <p *ngIf="product.price">Price: ${{ product.price }}</p>
  <p *ngIf="product.rating">Rating: {{ product.rating }}</p>
  <a><img src="{{ product.image }}" width="400px" /></a>
  <a *ngIf="product.link" href="https://t.me/share?url={{ product.link }}">
    <button type="button">Share</button></a
  >
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
